<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"  
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
                xmlns:context="http://www.springframework.org/schema/context"  
                xmlns:aop="http://www.springframework.org/schema/aop"  
                xmlns:tx="http://www.springframework.org/schema/tx"
                xsi:schemaLocation="http://www.springframework.org/schema/tx  
					                http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
					                http://www.springframework.org/schema/context  
					                http://www.springframework.org/schema/context/spring-context-3.0.xsd  
					                http://www.springframework.org/schema/beans  
					                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
					                http://www.springframework.org/schema/aop  
					                http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"> 
                                   
	<context:annotation-config/>
	
	<bean id="room" class="main.com.kanuwana.hellospring.dto.PublicRoom">
		<property name="resources">
			<list>
				<ref bean="lampResource"/>			
				<ref bean="tableResource"/>
			</list>
		</property>
		<property name="ready" value="false"/>
		<property name="roomType" value="NS"/>
	</bean>

<!-- 	<bean id="manager" class="main.com.kanuwana.hellospring.dto.Manager"> -->
<!-- 		<property name="name" value="Mr.Kanuwana"></property> -->
<!-- 	</bean> -->

	<context:component-scan base-package="main.com.kanuwana"></context:component-scan>
	
	<bean id="smokerRoom" class="main.com.kanuwana.hellospring.dto.SmokerRoom" parent="room"/>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>
	</bean>
	
	<bean id="nonSmokerRoom" class="main.com.kanuwana.hellospring.dto.NonSmokerRoom" parent="room">
	</bean>
	
	<bean id="lampResource" class="main.com.kanuwana.hellospring.dto.Resource">
		<property name="name" value="lamp"/>
		<property name="id" value="123456"/>
	</bean>
	
	<bean id="tableResource" class="main.com.kanuwana.hellospring.dto.Resource">
		<property name="name" value="table"/>
		<property name="id" value="234567"/>
	</bean>
	
	<bean id="maleCleaner" class="main.com.kanuwana.hellospring.dto.Cleaner">
		<property name="name" value="Sahan"/>
		<property name="id" value="5002296"/>
	</bean>
	
	<bean id="femaleCleaner" class="main.com.kanuwana.hellospring.dto.Cleaner">
		<qualifier value="smokerRoomRelated"></qualifier>
		<property name="name" value="${femaleCleaner.name}"/>
		<property name="id" value="2296500"/>
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:initialproperties.properties"/>
	</bean>
	
</beans>